@import './variables.scss';

#main-layout-container {
  height: 100%;
  > section > .ant-layout-header {
    height: 50px;
    line-height: 50px;
    background: #fff;
    color: #1c202b;
    border-bottom: 1px solid #eee;
  }
}

#main-layout-container {
  .ant-menu.ant-menu-dark {
    background-color: $sider-bg;
    .ant-menu-inline.ant-menu-sub {
      box-shadow: none;
      background-color: $sider-bg;
    }
    .ant-menu-item,
    .ant-menu-submenu-title {
      text-align: left;
    }
  }
}

.ant-form .ant-form-item-control{
  text-align: left;
}
